#%RAML 1.0
---
title: Mobile Payments
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: application/json

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/mobile/payments:
  /banks:
    get:
      displayName: Fetch the list of supported banks.
      is: [headers.acceptHeader]
      (annotations.scope): "read:native-apps-api-orchestration"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
      queryParameters:
        journeyId:
          type: string
          example: 27085215-69a4-4027-8f72-b04b10ec16b0
          required: true
      responses:
        200:
          body:
            application/json:
              examples:
                example-1:
                  value: !include examples/get-banks-response-example.json
    /{sessionDataId}:
      uriParameters:
        sessionDataId:
          description: The ID associated with the payment session.
          type: string
          example: 51cc67d6-21da-11ec-9621-0242ac130002
          required: true
      post:
        displayName: Select a bank for a given session ID
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          201:
  /payments:
    /{sessionDataId}:
      uriParameters:
        sessionDataId:
          description: The ID associated with the payment session.
          type: string
          example: 51cc67d6-21da-11ec-9621-0242ac130002
          required: true
      get:
        displayName: Fetch the payment status for a given session ID.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          200:
            body:
              application/json:
                examples:
                  example-2:
                    value: !include examples/get-payment-status-response-example.json
      post:
        displayName: Create a payment for a given session ID.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          200:
            body:
              application/json:
                examples:
                  example-3:
                    value: !include examples/post-payment-response-example.json
      put:
        displayName: Update a payment for a given session ID.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          200:
            body:
              application/json:
                examples:
                  example-4:
                    value: !include examples/put-payment-response-example.json
      /url-consumed:
        get:
          displayName: Fetch the payment URL consumed status for a given session ID.
          is: [headers.acceptHeader]
          (annotations.scope): "read:native-apps-api-orchestration"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
          queryParameters:
            journeyId:
              type: string
              example: 27085215-69a4-4027-8f72-b04b10ec16b0
              required: true
          responses:
            200:
              body:
                application/json:
                  examples:
                    example-5:
                      value: !include examples/get-payment-url-consumed-response-example.json
    /latest-payments/{utr}:
      uriParameters:
        utr:
          description: The UTR associated with the user.
          type: string
          example: UTR12345678
          required: true
      get:
        displayName: Fetch the latest self assessment payments for a given UTR.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          200:
            body:
              application/json:
                examples:
                  example-10:
                    value: !include examples/get-latest-payments-response-example.json
          404:
            description: No recent payments were found
    /pay-by-card/{utr}:
      uriParameters:
        utr:
          description: The UTR associated with the user.
          type: string
          example: UTR12345678
          required: true
      post:
        displayName: Get a URL to complete payment journey through the web with pre-populated amount
        is: [ headers.acceptHeader ]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        body:
          application/json:
            examples:
              example-11:
                value: !include examples/post-pay-by-card-request-example.json
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          200:
            body:
              application/json:
                examples:
                  example-12:
                    value: !include examples/post-pay-by-card-response-example.json
          404:
            description: No recent payments were found
  /sessions:
    post:
      displayName: Create a payment for a given session ID.
      is: [headers.acceptHeader]
      (annotations.scope): "read:native-apps-api-orchestration"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
      body:
        application/json:
          examples:
            example-6:
              value: !include examples/post-session-request-example.json
      queryParameters:
        journeyId:
          type: string
          example: 27085215-69a4-4027-8f72-b04b10ec16b0
          required: true
      responses:
        200:
          body:
            application/json:
              examples:
                example-7:
                  value: !include examples/post-session-response-example.json
    /{sessionDataId}:
      uriParameters:
        sessionDataId:
          description: The ID associated with the payment session.
          type: string
          example: 51cc67d6-21da-11ec-9621-0242ac130002
          required: true
      get:
        displayName: Fetch a session for a given session ID.
        is: [headers.acceptHeader]
        (annotations.scope): "read:native-apps-api-orchestration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
        queryParameters:
          journeyId:
            type: string
            example: 27085215-69a4-4027-8f72-b04b10ec16b0
            required: true
        responses:
          200:
            body:
              application/json:
                examples:
                  example-8:
                    value: !include examples/get-session-response-example.json
    /{sessionDataId}/set-email:
          uriParameters:
            sessionDataId:
              description: The ID associated with the payment session.
              type: string
              example: 51cc67d6-21da-11ec-9621-0242ac130002
              required: true
          post:
            displayName: Set an email address for the user's session
            is: [headers.acceptHeader]
            (annotations.scope): "read:native-apps-api-orchestration"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
            body:
              application/json:
                examples:
                  example-9:
                    value: !include examples/post-set-email-request-example.json
            queryParameters:
              journeyId:
                type: string
                example: 27085215-69a4-4027-8f72-b04b10ec16b0
                required: true
            responses:
              201:
    /{sessionDataId}/clear-email:
          uriParameters:
            sessionDataId:
              description: The ID associated with the payment session.
              type: string
              example: 51cc67d6-21da-11ec-9621-0242ac130002
              required: true
          delete:
            displayName: Clear an email address for the user's session
            is: [headers.acceptHeader]
            (annotations.scope): "read:native-apps-api-orchestration"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:native-apps-api-orchestration" ] } ]
            queryParameters:
              journeyId:
                type: string
                example: 27085215-69a4-4027-8f72-b04b10ec16b0
                required: true
            responses:
              204:
